<div class="container-fluid">
    <div class="row">
        <div class="col-3 col-md-8 bg">
            <img src="assets/images/auth_bg.jpeg">
        </div>
        <div class="col-9 col-md-4">
            <div class="container">
                <div class="logo">
                    <img src="assets/images/logo.png">
                </div>
                <div class="form">
                    <router-outlet></router-outlet>
                </div>
            </div>
            
        </div>
    </div>
</div>