<div class="container-fluid">
    <header>
        <div class="row">
            <div class="logo">
                <img src="assets/images/logo.png">
            </div>
            <div class="logout">
                Logout
            </div>
        </div>
    </header>
    <div class="row nav">
        <div class="col-2">
            <ul>
                <li>
                    <a>
                        <fa-icon [icon]="faTachometerAlt"></fa-icon>
                        <h3>Dashboard</h3>
                    </a>
                </li>
                <li>
                    <a>
                        <fa-icon [icon]="faFileAlt"></fa-icon>
                        <h3>Incoming Enquiries</h3>
                    </a>
                </li>
                <li>
                    <a>
                        <fa-icon [icon]="faFileAlt"></fa-icon>
                        <h3>Incoming Quotations</h3>
                    </a>
                </li>
                <li>
                    <a>
                        <fa-icon [icon]="faShoppingBag"></fa-icon>
                        <h3>Products</h3>
                    </a>
                </li>
                <li>
                    <a>
                        <fa-icon [icon]="faPaperPlane"></fa-icon>
                        <h3>My Request</h3>
                    </a>
                </li>
                <li>
                    <a>
                        <fa-icon [icon]="faShoppingCart"></fa-icon>
                        <h3>Order History</h3>
                    </a>
                </li>
                <li class="active">
                    <a>
                        <fa-icon [icon]="faUser"></fa-icon>
                        <h3>Profile</h3>
                    </a>
                </li>
                <li>
                    <a>
                        <fa-icon [icon]="faCog"></fa-icon>
                        <h3>Settings</h3>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-10 content">
            <div class="container-fluid">
                img
            </div>
            
        </div>
    </div>
</div>